<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038045422342-2veomn1s7o1av3mshvidp1iodjdtltld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038045422342-2veomn1s7o1av3mshvidp1iodjdtltld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038045422342-9ishajbi13arghhou8kuuu4934a0anba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfTyCtiFiDqnfe4E0IzhbhDyjjWP5YgT0</string>
	<key>GCM_SENDER_ID</key>
	<string>1038045422342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petomate.community</string>
	<key>PROJECT_ID</key>
	<string>petomate-c3a84</string>
	<key>STORAGE_BUCKET</key>
	<string>petomate-c3a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038045422342:ios:02579013f7bc208583f487</string>
</dict>
</plist>